.button-color{
    border:1px solid #ca0018;
    color:#ca0018;
  }
  .button-color:hover{
    background-color: #ca0018 ;
    color: #fff;
    border: none;
  }
  .nav-logo{
    font-family: "Cinzel Decorative", serif;
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 15px;
  }
  .nav-logo span{
    color: #ca0018;
  }