.certificate-para p{
    text-align: justify;
    font-size: 1.2rem;
    margin-top: 20px;
}


@media only screen and (max-width:468px){
    .project-heading{
        font-size: 2rem;
        padding: 8px;
    }
    .certificate-para p{
        padding: 8px;
    }
}
